*{

    margin: 0;
    padding: 0;
}

.theAbout{

    width: 1130px;
    max-width: 100%;
    margin: 1px 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.Aboutimage{

    height: 200px;
    width: 200px;
    margin: 80px;
    left: 99%;
    padding-top: 60px;
    margin-left: 100px;
    transform: translateX(40%);
    border-radius: 5px;
    
}
.Aboutinfo{

    margin-top: 60px;
    margin-right: 80px;
    padding-right: 80px;
    width: 550px;
    font-size: smaller;
    transform: translateX(20%);
    
    
}